<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
</head>

<body>

<section>

    <div class="card m-3">
        <div class="card-body">

            <div th:if="${session.message}" class="alert p-5" th:class="${session.message.type}" role="alert">
                <p class="text-center" th:text="${session.message.content}"></p>
            </div>

            <h1 class="text-center">Add Contact</h1>

            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="#"
                              th:object="${contact}"
                              enctype="multipart/form-data"
                              method="post"
                              th:action="@{/user/process-contact}"
                              class="mt-2"
                        >

                            <!--first name-->
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <input type="text" id="firstName" class="form-control"
                                       name="name" placeholder="Enter First Name" required>
                            </div>


                            <!--second name-->

                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <input type="text" id="secondName" class="form-control"
                                       name="secondName" placeholder="Enter Last Name" required>
                            </div>

                            <!-- phone filed-->

                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <input type="number" id="phone" class="form-control"
                                       name="phone" placeholder="Enter Phone No" required>
                            </div>

                            <!-- email filed-->
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <input type="email" id="email" class="form-control"
                                       name="email" placeholder="Enter Email" required>
                            </div>

                            <!--work filed-->
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                                <input type="text" id="work" class="form-control"
                                       name="work" placeholder="Enter You Work" required>
                            </div>

                            <!-- contact description-->

                            <div class="input-group mb-3">
                                <textarea id="description" rows="10" class="form-control"
                                          name="description" placeholder="Enter About You - Description"></textarea>
                            </div>
                             <!--contact image-->
                            <div class="mb-3">
                                <input class="form-control" type="file" name="profileImage">
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

</body>
</html>