<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<section>

    <div class="container">

        <div class="card">
            <div class="card-body text-center p-5">

                <h1 class="font-weight-bold">Welcome to User Dashboard</h1>

                <img src="" th:src="@{/img/contact_logo.png}" style="width: 200px; height: 200px" alt="Profile">

            <p class="text-center mt-3 text-secondary fst-italic fs-2">
                Start collecting your contacts in very smarter way...
            </p>


                <div>
                    <a th:href="@{/user/add-contact}"  href=""> <button class="btn btn-primary mt-4">Add New Contact</button> </a>
                </div>


            </div>
        </div>


    </div>


</section>

</body>
</html>
