<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card my-card mt-5">


                    <div th:if="${session.message}" class="alert p-5" th:class="${session.message.type}" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                    </div>

                    <div class="container text-center">
                        <img class="" src="" th:src="@{/img/verify.png}" height="120px" alt="SignUp Img">
                    </div>

                    <h1 class="text-center">Register Here!!</h1>

                    <form action="" th:action="@{/do_register}" th:method="post" th:object="${user}">

                        <!--name field-->
                        <div class="mb-3">
                            <label for="name_field" class="form-label">Name</label>
                            <input name="name" type="text" class="form-control" id="name_field" placeholder="Enter here" required
                                   th:value="${user.name}">
                        </div>
                        <!--email field-->
                        <div class="mb-3">
                            <label for="email_field" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="email_field" placeholder="Enter here" required
                                   th:value="${user.email}">
                        </div>
                        <!--password field-->
                        <div class="mb-3">
                            <label for="password_field" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" id="password_field" placeholder="Enter here"
                                   required>
                        </div>

                        <!--about field-->
                        <div class="mb-3">
                            <label for="about_field" class="form-label">About</label>
                            <textarea th:text="${user.about}" placeholder="Enter something about yourself" name="about" id="about_field"
                                      rows="8" class="form-control" th:value="${user.about}"></textarea>
                        </div>

                        <!--terms and condition agreement-->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agreement">
                            <label class="form-check-label" for="exampleCheck1">Terms and conditions</label>
                        </div>

                        <!--buttons-->
                        <div class="container text-center mt-5">
                            <button type="submit" class="btn btn-primary text-white mx-2 px-5">
                                Submit
                            </button>

                            <button type="reset" class="btn btn-warning mx-2 px-5">
                                Reset
                            </button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
